{% extends "layout.html" %} {% block content %}
<h1 class="mb-4">Product Detail Information</h1>

<div class="card mb-4 w-75 shadow-sm">
  <img src="{{ product.image_url }}" class="card-img-top" alt="Product Image" />
  <div class="card-body">
    <h5 class="card-title">Product: {{ product.name }}</h5>
    <p class="card-text text-muted">
      Detailed information about the product will be displayed here.
    </p>
    <span class="fw-semibold">${{product.price}}</span>
  </div>
</div>
{% endblock %}
