{% extends "layout.html" %} {% block content %}
<h1 class="mb-4">Products</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Discount</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr class="align-middle">
      <th scope="row">{{ product.id }}</th>
      <td><img class="rounded" src="{{ product.image_url }}" alt="{{ product.name }}" style="width: 50px; height: 50px; object-fit: cover;"></td>
      <td>{{ product.name }}</td>
      <td>{{ product.get_category_display }}</td>
      <td>${{ product.price }}</td>
      <td>
        {% if product.stock > 10 %}
        <span class="badge text-bg-success">{{ product.stock }}</span>
        {% elif product.stock > 0 %}
        <span class="badge text-bg-warning">{{ product.stock }}</span>
        {% else %}
        <span class="badge text-bg-danger">{{ product.stock }}</span>
        {% endif %}
      </td>
      <td>{{ product.discount }}%</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">No products available</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
